<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71179252973-4sauhm39ais00avmdkpmjq903i8ne13s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71179252973-4sauhm39ais00avmdkpmjq903i8ne13s</string>
	<key>API_KEY</key>
	<string>AIzaSyCnljFihhQQD4z731hWDDDcq-JqrSttAJA</string>
	<key>GCM_SENDER_ID</key>
	<string>71179252973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartbuilding</string>
	<key>PROJECT_ID</key>
	<string>smartbuildings-2a954</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbuildings-2a954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71179252973:ios:89e00fa04ba75a0a6a88e4</string>
	<key>DATABASE_URL</key>
	<string>https://smartbuildings-2a954-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>